/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// hojas secundarias

@import "utilidades/variables.scss";
@import "utilidades/mixin.scss";
@import "utilidades/extend.scss";
@import "contenedores/header.scss";


/* -- estilos generales -- */

body{
    background-color: $color-principal;
    font-family: 'Roboto', sans-serif
}

a:link, a:visited, a:active{
    text-decoration: none;
}

.item-fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}


/* estilos de main */

main{
    @include flex-columns;
    h1{
        color:#182941;
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        span{
            display: block;  
        }
    }
    p{
        padding: 0.2rem;
        text-align: center;
        span{
            display: block;
            font-weight: normal;
        }
    }
    .boton{
        @include estilos-botones;
    }
    img{
        width: 50%;
    }
}

.titulo{
    font-weight: bold;
    font-size: 20px;
}

/* estilos de section */

section .boton{
    @include estilos-botones;
}

.sobre-mi{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    div{
        h2{
            font-weight: bold;
        }
    }
}

.porque-elegirme{
    background-color: $color-terciario;
    padding: 1rem;
    div{
        div{
            h3{
                font-weight: bold;
            }
        }
    }
}

.porque-elegirme-dos{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    div{
        h3{
            font-weight: bold;
        }
        a{
           margin-left: 2rem; 
        }
    }
}

/* estilos de footer */

footer{
    background-color: $color-secundario;
    @include flex-columns;
}

.menu-footer{
    padding: 1rem;
    ul{
        li{
            list-style: none;
            text-align: center; 
        }
    }
}

.newsletter{
    margin: 1rem;
}

/* estilos de pagina Turnos y contacto */

.turnos{
    @include flex-columns;
    h1{
        font-size: 35px;
        text-align: center;
        padding: 1rem;
    }
    p{
        padding: 0;
    }
    form{
        padding: 0.5rem;
        text-align: center;
    }
}

/* estilos de pagina Sobre mi */

.sobre-mi-page{
    @include flex-columns;
    img{
        width: 10%;
        display: block;
    }
    h1{
        display: flex;
        display: block;
        padding-top: 1rem;
        font-size: 50px;
    }
}

.titulo-sm{
    text-align: center;
    align-items: center;
}

.bajada-sm{
    padding: 1rem;
}

.seccion-sm{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: $color-terciario;
    h4{
        font-weight: bold;
    }
    h3{
        font-weight: bold;
    }
}

.especialidades{
    @extend %estilossection-sm;
}

.certificaciones{
    @extend %estilossection-sm;
}

/* estilos de pagina Servicios */

.servicios-titulo{
    @include flex-columns;
    padding: 0;
    img{
        width: 88%;
        padding-bottom: 1rem;
    }
    h1{
        padding: 1rem;
    }
}

.servicios-section{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    div{
        padding: 2rem;
        text-align: center;
    }
    h4{
        font-size: 20px;
        font-weight: bold;
    }
}

.servicios-caja{
    width: auto ;
    height: auto ;
    margin: 1rem;
    background-color: $color-terciario;
}

/* mq */

@import "contenedores/mediaqueries.scss";
    
        
   
    

   
    
    
